<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Loggers>
        <appender name="STDOUT" class="org.apache.zookeeper.ClientCnxn">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>